<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="default_layout" value="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Call Site: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Additional Info: ${message}${newline}" />

  <targets>
    <target name="bootstrapper_file" xsi:type="File" fileName="C:\logs\BootstrapperLog.txt"/>
    <target name="general_file" xsi:type="File" fileName="C:\logs\GeneralLog.txt" layout="${default_layout}"/>
  </targets>

  <rules>
    <logger name ="*" minlevel="Info" writeTo="general_file" />
    <logger name="Bootstrapper.*" minlevel="Info" writeTo="bootstrapper_file" />
  </rules>
</nlog>
