<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.5.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net452" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net452" />
  <package id="WebUtilsLib" version="3.1.3" targetFramework="net452" />
</packages>