<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>

    <!-- MSMQ -->
    <add key="TopicParserQueue"     value="ForumTibiaBR_Topics"        />
    <add key="CommentParserQueue"   value="ForumTibiaBR_Comments"      />
    <add key="ConfigurationQueue"   value="ForumTibiaBR_Config"        />

    <!-- MONGO -->
    <add key="CommentCollection"    value="Comments"                   />
    <add key="UserCollection"       value="Users"                      />

  </appSettings>
  
</configuration>