<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="SectionsParserQueue" value="ForumTibiaBR_Sections"        />
    <add key="TopicsParserQueue"   value="ForumTibiaBR_Topics"          />
    <add key="ConfigurationQueue"  value="ForumTibiaBR_Config"          />
  </appSettings>

</configuration>